
  
  <!-- <div id="bg" class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;"> -->
    
    <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row wow fadeIn">
          <div class="col-md-12 text-center">
            <h1 class="text-info display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">The world's most-loved social storytelling platform</h1>
            <img src="https://media1.giphy.com/media/AbuQeC846WKOs/giphy.webp?cid=3640f6095c4a9f685669447255df4b84" height="30%" width="50%"><br><br>
            
            <div class="wow fadeInUp" data-wow-delay="0.4s">
              <button (click)="create()"  class="btn btn-info btn-rounded"><i class="fa fa-book left">Write Story</i></button>&nbsp;
              <button (click)="read()"class="btn btn-info btn-rounded"><i class="fa fa-book left">Read Story</i></button><br/>
          </div>
          <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">It comes with a lot of new features, easy to follow stories. Check it out now!</h5>
          </div>   
        </div>
     
      </div>
     
    </div>
 
  <!-- </div> -->



